dialog.popup-container {
	transition: opacity 0.5s ease-in-out;
	opacity: 0;

	&[open] {
		opacity: 1; /* Final state when open */
		@starting-style {
			opacity: 0; /* Starting point for opening animation */
		}
	}
}

.popup-container  {
	&__close {
		position: absolute;
		top: 1rem;
		right: 1rem;
		background-color: transparent;
		border: 0;
		cursor: pointer;
	}
}
